/* Estilos globales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo claro */
  color: #212529; /* Color de texto oscuro */
}

/* Estilo para el contenedor principal */
.App {
  text-align: center;
  padding: 20px;
}

/* Clases de utilidad */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Clase para añadir padding superior cuando se usa una Navbar fija */
.page-container-for-fixed-nav {
  padding-top: 100px; /* Ajusta este valor a la altura real de tu Navbar */
}